<table class="table table-condensed">
    <tr>
        <th></th>Server</th>
        <th>ID</th>
        <th>Status</th>
        <th>User</th>
        <th>Appname</th>
        <th>Instance</th>
        <th>Endpoint</th>
        <th>Uptime</th>
        <th>Last heartbeat</th>
        <th>Image</th>
        <th>Image tag</th>
        <th>Actions</th>
    </tr>
    {{#each instances }}
        {{#each apps }}
            <tr>
                <td class="admin-monospace">{{ ../displayName }}</td>
                <td class="admin-monospace">{{ proxyId }}</td>
                <td class="admin-monospace">{{ status }}</td>
                <td class="admin-monospace">{{ userId }}</td>
                <td class="admin-monospace">{{ appName }}</td>
                <td class="admin-monospace">{{ instanceName }}</td>
                <td class="admin-monospace">{{ endpoint }}</td>
                <td class="admin-monospace">{{ uptime }}</td>
                <td class="admin-monospace">{{ lastHeartBeat }}</td>
                <td class="admin-monospace">{{ imageName }}</td>
                <td class="admin-monospace">{{ imageTag }}</td>
                <td>
                    <div class="btn-group btn-group-xs" role="group">
                        <button type="button" class="btn btn-primary"
                                onclick="Shiny.admin.showAppDetails('{{ instanceName }}', '{{ proxyId }}', '{{ ../spInstance }}');">
                            Details
                        </button>
                        <button type="button" class="btn btn-primary"
                                onclick="Shiny.instances.eventHandlers.onDeleteInstance('{{ instanceName }}', '{{ proxyId }}', '{{ ../spInstance }}');">
                            Stop
                        </button>
                    </div>
                </td>
            </tr>
        {{/each}}
    {{/each}}
</table>
