<table class="table table-condensed">
    <tr>
        <td>
            <b>App name</b>
        </td>
        <td>
            {{ appName }}
        </td>
    </tr>
    <tr>
        <td>
            <b>Instance</b>
        </td>
        <td>
            {{ instanceName }}
        </td>
    </tr>
    <tr>
        <td>
            <b>ID</b>
        </td>
        <td>
            {{ proxyId }}
        </td>
    </tr>
    {{#if userId }}
        <tr>
            <td>
                <b>Username</b>
            </td>
            <td>
                {{ userId }}
            </td>
        </tr>
    {{/if}}
    <tr>
        <td>
            <b>Status</b>
        </td>
        <td>
            {{ status }}
        </td>
    </tr>
    {{#if uptime }}
        <tr>
        <td>
            <b>Uptime</b>
        </td>
        <td>
            {{ uptime }}
        </td>
    </tr>
    {{/if}}
    {{#if isInUse }}
        <tr>
            <td>
                <b>App is in use</b>
            </td>
            <td>
                {{ isInUse }}
            </td>
        </tr>
    {{/if}}
    {{#if lastHeartBeat }}
        <tr>
            <td>
                <b>Last heartbeat</b>
            </td>
            <td>
                {{ lastHeartBeat }}
            </td>
        </tr>
    {{/if}}
    {{#if heartbeatTimeout }}
        <tr>
            <td>
                <b>Heartbeat timeout</b>
                <span class="help-block">
                The app is automatically stopped when it has not been used for this amount of time.
            </span>
            </td>
            <td>
                {{ heartbeatTimeout }}
                {{#if heartbeatTimeoutRemaining}}
                    <br>
                    Remaining: {{ heartbeatTimeoutRemaining }}
                {{/if}}
            </td>
        </tr>
    {{/if}}
    {{#if imageName }}
        <tr>
            <td>
                <b>Image</b>
            </td>
            <td>
                {{ imageName }}
            </td>
        </tr>
    {{/if}}
    {{#if imageTag }}
        <tr>
            <td>
                <b>Image tag</b>
            </td>
            <td>
                {{ imageTag }}
            </td>
        </tr>
    {{/if}}
    {{#if maxLifetime}}
        <tr>
            <td>
                <b>Max lifetime</b>
                <span class="help-block">
                The app is automatically stopped when it has been running for this amount of time (even if it is in use).
            </span>
            </td>
            <td>
                {{ maxLifetime }}
                {{#if maxLifetimeRemaining}}
                    <br>
                    Remaining: {{ maxLifetimeRemaining }}
                {{/if}}
            </td>
        </tr>
    {{/if}}
    {{#if backendContainerName }}
        <tr>
            <td>
                <b>Name of container in backend</b>
            </td>
            <td>
                {{ backendContainerName }}
            </td>
        </tr>
    {{/if}}
    {{#if parameters}}
        {{#each parameters}}
            <tr>
                <td>
                    <b>{{ displayName }}</b>
                    {{#if description}}
                        <span class="help-block">
                            {{{ description }}}
                        </span>
                    {{/if}}
                </td>
                <td>
                    {{ value }}
                </td>
            </tr>
        {{/each}}
    {{/if}}
</table>
