{{#each apps}}
    <h5>{{ displayName }}</h5>
    <ul class="list-group">
        {{#each instances}}
            <li class="app-instance list-group-item">
                <a href="{{ url }}">{{ instanceName }}</a>
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-primary"
                            onclick="Shiny.common.showAppDetails('{{ displayName }}', '{{ instanceName }}', '{{ proxyId }}', '{{ spInstance }}');">
                        Details
                    </button>
                    <button type="button" class="btn btn-primary"
                            onclick="Shiny.instances.eventHandlers.onDeleteInstance('{{ instanceName }}', '{{ proxyId }}', '{{ spInstance }}');">
                        Stop app
                    </button>
                </div>
                <span class="uptime">Uptime: {{ uptime }}</span>
            </li>
        {{/each}}
    </ul>
{{/each}}
{{#unless apps}}
    You don't have any running apps.<br>
    Start a new app by clicking on its name or logo.
{{/unless}}
