<div class="list-group">
    {{#each instances}}
        {{#if active}}
            <div class="app-instance list-group-item">
                <b class="active-app-instance-title">{{ instanceName }}</b>
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-primary" onclick="Shiny.instances.eventHandlers.showAppDetails(event, '{{ appName }}', '{{ instanceName }}', '{{ proxyId }}', '{{ spInstance }}');">Details</button>
                    <button type="button" class="btn btn-primary" onclick="Shiny.instances.eventHandlers.onDeleteInstance(event, '{{ instanceName }}', '{{ proxyId }}', '{{ spInstance }}');">Stop</button>
                    <button type="button" class="btn btn-primary btn-restart-app" onclick="Shiny.instances.eventHandlers.onRestartInstance(event);">Restart</button>
                    {{#if ../pauseSupported}}
                        <button type="button" class="btn btn-primary" onclick="Shiny.instances.eventHandlers.onPauseApp(event, '{{ instanceName }}', '{{ proxyId }}', '{{ spInstance }}');">Pause</button>
                    {{/if}}
                </div>
                <span>{{{formatStatus status }}} {{#if uptime}}Uptime: {{ uptime }} {{/if}}</span>
            </div>
        {{else}}
            <a target="{{ ../target }}" href="{{ url }}" class="app-instance list-group-item">
                <span class="app-instance-title">{{ instanceName }}</span>
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-primary" onclick="Shiny.instances.eventHandlers.showAppDetails(event, '{{ appName }}', '{{ instanceName }}', '{{ proxyId }}', '{{ spInstance }}');">Details</button>
                    <button type="button" class="btn btn-primary" onclick="Shiny.instances.eventHandlers.onDeleteInstance(event, '{{ instanceName }}', '{{ proxyId }}', '{{ spInstance }}');">Stop</button>
                    {{#if ../pauseSupported}}
                        <button type="button" class="btn btn-primary" onclick="Shiny.instances.eventHandlers.onPauseApp(event, '{{ instanceName }}', '{{ proxyId }}', '{{ spInstance }}');">Pause</button>
                    {{/if}}
                </div>
                <span>{{{formatStatus status }}} {{#if uptime}}Uptime: {{ uptime }} {{/if}}</span>
            </a>
        {{/if}}
    {{/each}}
</div>
{{#unless instances}}
    You don't have any instances of this app.<br>
{{/unless}}
