<ul>
    {{#each instances}}
        {{#if active}}
            <li>
                <b>{{ name }}</b>
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-primary" onclick="Shiny.instancesModal.onDeleteInstance('{{ name}}');">Stop app</button>
                    <button type="button" class="btn btn-primary" onclick="Shiny.instancesModal.onDeleteInstance('{{ name}}');">Restart app</button>
                </div>
            </li>
        {{else}}
            <li>
                <a target="_blank" href="{{ url }}">{{ name }}</a>
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-primary" onclick="Shiny.instancesModal.onDeleteInstance('{{ name}}');">Stop app</button>
                    <button type="button" class="btn btn-primary" onclick="Shiny.instancesModal.onDeleteInstance('{{ name}}');">Restart app</button>
                </div>
            </li>
        {{/if}}
    {{/each}}
</ul>
